<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<body>
<div layout:fragment="content" class="container col-md-8 mt-4">
        <div class="row text-center">
            <div class="col">
                <img th:src="@{${shop.image}}" width="300" height="300" />
            </div>
            <div class="col border">
                <h2 class="text-primary" th:text="${shop.name}" />
                <h2 th:text="'Address: ' + ${shop.address}" />
                <h2 th:text="'Phone: ' + ${shop.phone}" />
            </div>
        </div>
    </table>
</div>
</body>
</html>

