<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Employee Age</th>
            <th>Employee Address</th>
            <th>Delete</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}" />
            <td th:text="${employee.name}" />
            <td th:text="${employee.age}" />
            <td th:text="${employee.address}" />
            <td>
                <a th:href="'employee/delete/' + ${employee.id}" th:text="Delete"
                   onclick="return confirm('Do you want to delete this employee?');"
                />
            </td>
        </tr>
    </table>
</body>
</html>